<md-dialog aria-label="Disconnect" class="disconnect">

    <md-dialog-actions layout="row" md-autofocus>
        <md-button  ng-click="disconnect.disconnect()" class="icon-btn">
            <md-icon md-svg-src="/public/drawable/disconnect-icon.svg" class="s24" aria-label="Close" ></md-icon>
            <md-tooltip md-direction="bottom">
              {{ 'Disconnect' | translate }}
            </md-tooltip>
        </md-button>
        <md-button  ng-click="disconnect.reboot()" class="icon-btn">
            <md-icon md-svg-src="/public/drawable/restart-icon.svg" class="s24" aria-label="Close" ></md-icon>
            <md-tooltip md-direction="bottom">
              {{ 'Reboot_Disconnect' | translate }}
            </md-tooltip>
        </md-button>
        <md-button  ng-click="disconnect.poweroff()" class="icon-btn">
            <md-icon md-svg-src="/public/drawable/turn-off-icon.svg" class="s24" aria-label="Close" ></md-icon>
            <md-tooltip md-direction="bottom">
              {{ 'Poweroff_Disconnect' | translate }}
            </md-tooltip>
        </md-button>
    </md-dialog-actions>

</md-dialog>