<md-dialog aria-label="Error">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Error</h2>
        </div>
    </md-toolbar>

    <md-dialog-content ng-escape="dialogError.ok()">
        <md-content layout-gt-sm="row" layout-padding>
            <h3><span style="color:#e54225">{{contentPopupError}}</span></h3>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="dialogError.ok()">{{'Ok' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>