<md-dialog aria-label="New Folder">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Folder</h2>
        </div>
    </md-toolbar>

    <md-dialog-content ng-escape="a.cancel()">
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="add-app-title">
                <label>New Folder</label>
                <input minlength="3" ng-trim="true">
            </md-input-container>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-disabled="!contentPopupNewFolder" ng-click="dialogFolder.ok()">{{'Ok' | translate}}</md-button>
        <md-button ng-click="dialogFolder.cancel()">{{'Cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>