<md-dialog aria-label="New File">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'New_file' | translate }}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content ng-escape="a.cancel()">
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="add-app-title">
                <label>{{'New_file' | translate}}</label>
                <input ng-model="contentPopupNewFile" minlength="1" ng-trim="true">
            </md-input-container>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-disabled="!contentPopupNewFile" ng-click="dialogFile.ok()">{{'Ok' | translate}}</md-button>
        <md-button ng-click="dialogFile.cancel()">{{'Cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>