<md-dialog aria-label="New Folder">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'New_folder' | translate }}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content ng-escape="dialogFolder.cancel()">
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="add-app-title">
                <label>{{'New_folder' | translate}}</label>
                <input ng-model="contentPopupNewFolder" md-autofocus ng-enter="dialogFolder.ok()" minlength="1" ng-trim="true">
            </md-input-container>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-disabled="!contentPopupNewFolder" ng-click="dialogFolder.ok()">{{'Ok' | translate}}</md-button>
        <md-button ng-click="dialogFolder.cancel()">{{'Cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>