<md-dialog aria-label="New Firmware">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Firmware</h2>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-input-container md-no-float class="md-block" style="height: 30px; margin:0;">
            <md-select ng-model="contentPopupNewFirmware.type" aria-label="New Firmware">
                <md-option ng-repeat="(key,firmware) in firmwares" value="{{key}}">
                    {{firmware}}
                </md-option>
            </md-select>
            <md-input-container md-no-float class="md-block" style="height: 30px; margin:0;">
                <input ng-model="contentPopupNewFirmware.text" type="text" aria-label="New Firmware">
            </md-input-container>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="border:0;">
        <span flex></span>
        <md-button ng-disabled="{{!(contentPopupNewFirmware.text && contentPopupNewFirmware.type)}}" ng-click="dialogFirmware.ok()">{{'Ok' | translate}}</md-button>
        <md-button ng-click="dialogFirmware.cancel()">{{'Cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>