<md-dialog aria-label="New Firmware">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'New_firmware' | translate}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content ng-escape="dialogFirmware.cancel()">
        <md-content layout-gt-sm="column" layout-padding>
            <md-input-container>
                <label>Select board</label>
                <md-select ng-model="contentPopupNewFirmware.type">
                    <md-option ng-repeat="(key,firmware) in firmwares" value="{{key}}">
                        {{firmware.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="add-app-title">
                <label>{{ 'New_firmware' | translate}}</label>
                <input ng-model="contentPopupNewFirmware.text" md-autofocus ng-enter="dialogFirmware.ok()" minlength="1" ng-trim="true">
            </md-input-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-disabled="!contentPopupNewFirmware.text || !contentPopupNewFirmware.type" ng-click="dialogFirmware.ok()">{{'Ok' | translate}}</md-button>
        <md-button ng-click="dialogFirmware.cancel()">{{'Cancel' | translate}}</md-button>
    </md-dialog-actions>

</md-dialog>