<md-dialog aria-label="Wyliodrin App" class="about-box" style="width: 550px; height:500px;">
	<md-dialog-content class="pre-box" ng-escape="p.exit()">
        <div class="about-logo">
        	<img src="/public/drawable/ibot-about-logo.png" />
            <!-- <span>{{ 'ABOUT_Version' | translate }} {{VERSION}}</span> -->
        </div>
        <!-- <div class="developers">
        	<h3>{{ 'ABOUT_DevelopedBy' | translate }}</h3>
            <p><strong>Alexandru Radovici</strong> - {{ 'ABOUT_Maintainer' | translate }}</p>
            <p><strong>Razvan Serban</strong> - {{ 'ABOUT_Development' | translate }}</p>
			<p><strong>Ioana Culic</strong> - {{ 'ABOUT_Development' | translate }}</p>
			<p><strong>Ovidiu Stoica</strong> - {{ 'ABOUT_UI_UX' | translate }}</p>
            <h3>{{ 'ABOUT_ContributionsBy' | translate }}</h3>
            <p><strong>Paula Margarit</strong> - {{ 'ABOUT_Development' | translate }}</p>
            <p><strong>Daniel Dosaru</strong> - {{ 'ABOUT_Development' | translate }}</p>
            <p><strong>Popescu Mihai</strong> - {{ 'ABOUT_Development' | translate }}</p>
        </div>
        
        <md-checkbox ng-model="mixpanel" aria-label="{{ 'ABOUT_UsageParam' | translate }}" class="mixpanel">
		  {{ 'ABOUT_AnonymousUsageParam' | translate }}
		</md-checkbox> -->
        
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
        <div class="provided">
            {{ 'ABOUT_ProvidedBy' | translate }} <a href="http://www.wyliodrin.com" target="_blank">Wyliodrin SRL</a>
        </div>
        <!--  <md-button ng-click="p.paypal()">{{ 'ABOUT_Sponsor' | translate }}</md-button>
        <md-button ng-click="p.license()">{{ 'ABOUT_License' | translate }}</md-button> -->
		<md-button ng-click="p.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>