<md-dialog aria-label="{{ 'ADD_APP_AddApp' | translate }}">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'TOOLBAR_AddNewApp' | translate }}</h2>
		</div>
	</md-toolbar>
    
	<md-dialog-content ng-escape="a.cancel()">
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container class="add-app-title">
                <label>{{ 'ADD_APP_Title' | translate }}</label>
                <input ng-model="project.title" minlength="3" ng-trim="true" ng-enter="a.add()">
           </md-input-container>
            <md-input-container>
                <label>{{ 'ADD_APP_Language' | translate }}</label>
                <md-select ng-model="project.language">
                  <md-option ng-repeat="language in languages" value="{{language.title}}">
                    {{language.text}}
                  </md-option>
                </md-select>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="a.add()">{{ 'TOOLBAR_CREATE' | translate }}</md-button>
		<md-button ng-click="a.cancel()">{{ 'TOOLBAR_CANCEL' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>
