<md-dialog aria-label="{{ 'BOARD_Connect' | translate }}" style="width: 600px; max-height:600px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'BOARD_Connect' | translate }}</h2>
		</div>
        <md-input-container style="position:absolute; right:15px; top:15px;" class="serial-select">
                <md-select ng-model="device" aria-label="device">
                    <md-option ng-value="category">category</md-option>
                </md-select>
        </md-input-container>
	</md-toolbar>
    
	<md-dialog-content layout-padding ng-escape="c.exit()">
    
    <div>

	    <center>
	    
	        <h2 style="margin-bottom:20px;">{{ 'BOARD_SelectBoard' | translate }}</h2>
	        <!-- <md-button md-parent-scope="this" ng-repeat="(boardname, boardvalue) in LABEL" ng-if="boardname!=='board'" class="board-setup-btn" ng-click="s.select(boardname)">
	            <img ng-src="/public/drawable/board/{{boardname}}.png">
	            <md-tooltip md-direction="bottom">
	              {{boardvalue.text}}
	            </md-tooltip>
	        </md-button> -->
	        
	        <md-button class="board-connect-btn" ng-click="device='udooneo'">
	            <img src="/public/drawable/udooneo.png">
	            <md-tooltip md-direction="bottom">
	            	Udoo Neo
	            </md-tooltip>
                <div class="board-connect-title">
                	UDOO Neo
                </div>
                <div class="board-connect-type">
                	Linux
                </div>
                <div class="board-connect-address">
                	//192.168.1.101
                </div>
	        </md-button>
            
            <md-button class="board-connect-btn" ng-click="device='udooneo'">
	            <img src="/public/drawable/raspberrypi.png">
	            <md-tooltip md-direction="bottom">
	            	Raspberry Pi
	            </md-tooltip>
                <div class="board-connect-title">
                	Raspberry Pi
                </div>
                <div class="board-connect-type">
                	Linux
                </div>
                <div class="board-connect-address">
                	//raspberrypi
                </div>
	        </md-button>
            
            <md-button class="board-connect-btn" ng-click="device='udooneo'">
	            <img src="/public/drawable/chrome.png">
	            <md-tooltip md-direction="bottom">
	            	Chrome
	            </md-tooltip>
                <div class="board-connect-title">
                	Chrome
                </div>
                <div class="board-connect-type">
                	Windows
                </div>
                <div class="board-connect-address">
                	Local computer
                </div>
	        </md-button>
            
            <md-button class="board-connect-btn" ng-click="device='udooneo'">
	            <img src="/public/drawable/serial.png">
	            <md-tooltip md-direction="bottom">
	            	COM1
	            </md-tooltip>
                <div class="board-connect-title">
                	COM1
                </div>
                <div class="board-connect-type">
                	Serial
                </div>
	        </md-button>
            
            <md-button class="board-connect-btn" ng-click="device='udooneo'">
	            <img src="/public/drawable/network.png">
	            <md-tooltip md-direction="bottom">
	            	IP Address
	            </md-tooltip>
                <div class="board-connect-title">
                	IP Address
                </div>
                <div class="board-connect-type">
                	Network
                </div>
	        </md-button>
	    
	    </center>

	</div>
        
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button>Install</md-button>
        <md-button>Connect</md-button>
        <md-button ng-click="c.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>