<md-dialog aria-label="{{ 'BOARD_Connect' | translate }}" style="width: 800px; max-height:700px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'BOARD_Connect' | translate }}</h2>
		</div>
        <!--<md-input-container style="position:absolute; right:15px; top:15px;" class="serial-select">
                <md-select ng-model="device" aria-label="device">
                    <md-option ng-value="category">category</md-option>
                </md-select>
        </md-input-container>-->
	</md-toolbar>
    
	<md-dialog-content layout-padding ng-escape="c.exit()">
    
    <div>

	    <center>
	        <md-button class="board-connect-btn" ng-repeat="device in devices" ng-click="c.connect (device)">
	            <img ng-src="/public/drawable/{{ device.category?device.category:'board' }}.png">
	            <md-tooltip md-direction="bottom">
	            	{{device.name}}
	            </md-tooltip>
                <div class="board-connect-title">
                	{{device.name}}
                </div>
                <div class="board-connect-type">
                	{{'PLATFORM_'+device.platform | translate }}
                </div>
                <div class="board-connect-address">
                	//{{device.ip}}
                </div>
	        </md-button>

            <md-button class="board-connect-btn" ng-click="c.connect ({ip:'chrome', platform: 'chrome'})">
                <img src="/public/drawable/chrome.png">
                <md-tooltip md-direction="bottom">
                    {{ 'DEVICE_Chrome' | translate }}
                </md-tooltip>
                <div class="board-connect-title">
                    {{ 'DEVICE_Chrome' | translate }}
                </div>
                <div class="board-connect-type">
                    {{ 'chrome' | translate }}
                </div>
            </md-button>
            
            <md-button class="board-connect-btn" ng-click="c.connect ()">
	            <img src="/public/drawable/network.png">
	            <md-tooltip md-direction="bottom">
	            	{{ "IP Address" }}
	            </md-tooltip>
                <div class="board-connect-title">
                	{{ "IP Address" | limitTo:18 }}
                </div>
                <div class="board-connect-type">
                	{{ 'DEVICE_Network' | translate }}
                </div>
	        </md-button>

            <md-button class="board-connect-btn" ng-repeat="port in serialPorts" ng-click="c.connect (port)">
                <img src="/public/drawable/serial.png">
                <md-tooltip md-direction="bottom">
                    {{port.path}}
                </md-tooltip>
                <div class="board-connect-title">
                    {{port.name}}
                </div>
                <div class="board-connect-type">
                    {{ 'DEVICE_Serial' | translate }}
                </div>
                <div class="board-connect-address">
                    {{device.path}}
                </div>
            </md-button>
	    
	    </center>

	</div>
        
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<!--<md-button>Install</md-button>
        <md-button>Connect</md-button>-->
        <md-button ng-click="c.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>