<md-dialog aria-label="{{ 'LIBRARY_Library' | translate }}" class="deploy-box">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>DEPLOY</h2>
		</div>
	</md-toolbar>
	<md-dialog-content layout="row" ng-escape="l.cancel()">
		<md-tabs flex="100">
		    <md-tab label="NETWORK">
		        <md-tab-body>
					<div ng-controller="DeployDeviceNetworkController">
	                	<iframe src="/public/network/network_frame.html" id="network-iframe" width="2000" height="1000">
	                    </iframe>
	                  </div>
		        </md-tab-body>
		    </md-tab>
		    <md-tab label="DASHBOARD">
		        <md-tab-body>
					 llllllaaaaa
		        </md-tab-body>
		    </md-tab>
		</md-tabs>
	</md-dialog-content>
</md-dialog>

            