<html>
<h3 id="title">{{ 'ADD-APP_Title' | translate }}</h3>
<img id="link" src="/public/drawable/extralinkframe.png" height="250">
<script>
"use strict";

var links = [];
var data = -1;
window.addEventListener ('message', function (event)
{
	// console.log (event.data);
	if (typeof (event.data) === 'object')
	{
		document.getElementById ('title').innerHTML = event.data.title;
		var links_temp= event.data.links.split ('\n');
		links = [];
		for (var li=0; li<links_temp.length; li++)
		{
			if (links_temp[li].trim().length > 0)
			{
				links.push (links_temp[li]);
			}
		}
		if (data === -1)
		{
			if (links.length === 0)
			{
				document.getElementById ('link').src = '/public/drawable/extralinkframe.png';
			}
			else
			{
				document.getElementById ('link').src = links[0];
			}
		}
	}
	else
	{
		// console.log (event.data);
		if (event.data >= 0 && event.data < links.length)
		{
			// console.log (links[event.data]);
			data = event.data;
			document.getElementById ('link').src = links[event.data];
		}
	}
});
</script>
</html>