<md-dialog aria-label="File Explorer" style="width: 650px; max-height:400px;" ng-escape="tm.exit()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{cwd}}</h2>
			<span flex></span>
			<md-button class="md-raised" aria-label="Up" ng-click="fe.up()">Up</md-button>
		</div>
	</md-toolbar>
    
    <md-dialog-content layout="row">
    	<md-content class="task-box" style="background:none;">
	        <md-list style="padding-top:8px;padding-bottom:8px;">
	            <md-list-item ng-repeat="file in files" layout-padding class="separator-line file" ng-dblclick="fe.doubleclick(file)" style="min-height: 20px; height: 20px;">
	            	<img ng-show="file.isfile" ng-src="/public/drawable/file-icon.png" />
	            	<img ng-show="file.isdir" ng-src="/public/drawable/folder-icon.png" />
	                <h3>{{file.name | limitTo:30}}{{file.name.length > 30 ? '...' : ''}}</h3>
	                <span ng-show="file.isfile">{{file.size}}</span>
	                <!-- <md-button ng-show="file.isdir" class="md-secondary lib-app-btn right" ng-click="fe.cd(file.name)">Enter</md-button>-->
	                <!--<md-button ng-show="file.isfile || file.islink" class="md-secondary lib-app-btn right" ng-click="fe.download(file.name)">Download</md-button>-->
	            </md-list-item>
	        </md-list>
	    </md-content>


	    <md-content treecontrol class="tree-classic"
   tree-model="treeData"
   options="treeOptions"
   on-selection="showSelected(node)"
   on-node-toggle="fe.getChildren(node,expanded)"
   selected-node="node1">{{node.name}}</md-content>


    
   	</md-dialog-content>



    
    
	<md-dialog-actions layout="row">
		<md-button class="md-raised" aria-label="Exit" ng-click="fe.exit()">Exit</md-button>
	</md-dialog-actions>
</md-dialog>