<md-dialog aria-label="File Explorer" style="width: 80%; max-height:80%;" ng-escape="tm.exit()">

	<div ng-show="showPopupDelete">
		{{'want_to_delete' | translate}} {{ selectedRight.name }}?
		<md-button ng-click="fe.delete()">{{'Yes' | translate}}</md-button>
		<md-button ng-click="showPopupDelete=0">{{'No' | translate}}</md-button>
	</div>

	<div ng-show="showPopupNewFolder">
		{{'folder_name' | translate}}
		<input ng-model="contentPopupNewFolder">
		<md-button ng-click="fe.newFolder()">{{'Ok' | translate}}</md-button>
		<md-button ng-click="showPopupNewFolder=0">{{'Cancel' | translate}}</md-button>
	</div>

	<div ng-show="showPopupRename">
		{{'choose_name' | translate}} 
		<span ng-show="selectedRight.isdir">{{'folder' | translate}}</span>
		<span ng-show="selectedRight.isfile">{{'file' | translate}}</span>
		<span ng-show="selectedRight.islink">{{'link' | translate}}</span>
		<input ng-model="contentPopupRename">
		<md-button ng-click="fe.rename()">{{'Ok' | translate}}</md-button>
		<md-button ng-click="showPopupRename=0">{{'Cancel' | translate}}</md-button>
	</div>

	<div ng-show="showPopupUpload">
		{{'will_upload' | translate}}
		<md-progress-linear md-mode="determinate" ng-value="uploadvars.d*100/uploadvars.c.length"></md-progress-linear>
		<md-button ng-click="showPopupUpload=0">{{'Cancel' | translate}}</md-button>
	</div>

	<div ng-show="showPopupDownload">
		{{'will_download' | translate}}
		<md-progress-linear md-mode="determinate" ng-value="downloadvars.now*100/downloadvars.total"></md-progress-linear>
		<md-button ng-click="showPopupDownload=0">{{'Cancel' | translate}}</md-button>
	</div>

	<div ng-show="showPopupError">
		{{contentPopupError}}
		<md-button ng-click="showPopupError=0">{{'Ok' | translate}}</md-button>
	</div>


	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{cwd}}</h2>
			<span flex></span>
            <md-button class="icon-btn-lg" aria-label="Refresh" ng-click="fe.refresh()">
            	<md-icon md-svg-src="/public/drawable/refresh-icon.svg" class="s24" aria-label="Refresh" ></md-icon>
                <md-tooltip md-direction="bottom">
                  {{'Refresh' | translate}}
                </md-tooltip>
            </md-button>
		</div>
	</md-toolbar>

    
    <md-dialog-content layout="row">


    	<md-content treecontrol class="tree-classic" tree-model="treeData" options="treeOptions" on-selection="fe.absolutecd(node)" on-node-toggle="fe.getChildren(node,expanded)" selected-node="selected_node" expanded-nodes="expanded_nodes" order-by="tree_orderby" reverse-order="false" filter-expression="tree_predicate" filter-comparator="tree_comparator"><span ng-hide="node.isspecial">{{node.name}}</span><span ng-show="node.isspecial" style="font-style:italic;">{{node.name}}</span></md-content>



    	<md-content flex class="task-box on-the-right" style="background:none;">
	        <md-list style="padding-top:8px;padding-bottom:8px;">
	            <md-list-item ng-repeat="file in files | orderBy:'[-isup,-isdir]'" layout-padding md-ink-ripple="false" class="separator-line file" ng-dblclick="fe.doubleclick(file)" ng-click="fe.click(file)" style="min-height: 40px; height: 40px;" ng-show="fe.hide(file)" ng-attr-class="{{fe.isSelected(file) && 'vasile' || 'viorel'}}">
	            	<img ng-show="file.isup" ng-src="/public/drawable/up-icon.png" />
	            	<img ng-show="file.isfile" ng-src="/public/drawable/file-icon.png" />
	            	<img ng-show="file.isdir" ng-src="/public/drawable/folder-icon.png" />
                    <img ng-show="file.islink" ng-src="/public/drawable/link-icon2.png" />
	                <span class="fileandfolder">{{file.name | limitTo:30}}{{file.name.length > 30 ? '...' : ''}}</span>
	                <span ng-show="file.isfile">{{file.size}}</span>
	            </md-list-item>

	        </md-list>
	    </md-content>


    
   	</md-dialog-content>



    
    
	<md-dialog-actions layout="row">
        <md-switch ng-model="showHidden" aria-label="Switch 1">{{'Show_hidden' | translate}}</md-switch>
		<span flex></span>
		<md-button class="fileexplorer-actions" aria-label="New Folder" ng-click="fe.newFolderButton()">
        	<md-icon md-svg-src="/public/drawable/new-folder-icon.svg" class="s24" aria-label="New folder" ></md-icon>
            <md-tooltip md-direction="top">
              {{'New_folder' | translate}}
            </md-tooltip>
        </md-button>
		<md-button class="fileexplorer-actions" aria-label="Upload here" ng-click="fe.upload()">
        	<md-icon md-svg-src="/public/drawable/upload-icon.svg" class="s24" aria-label="Upload here" ></md-icon>
            <md-tooltip md-direction="top">
              {{'Upload_here' | translate}}
            </md-tooltip>
        </md-button>
		<md-button class="fileexplorer-actions" aria-label="Rename" ng-click="fe.renameButton()">
        	<md-icon md-svg-src="/public/drawable/rename-icon.svg" class="s24" aria-label="Rename" ></md-icon>
            <md-tooltip md-direction="top">
              {{'Rename' | translate}}
            </md-tooltip>
        </md-button>
		<md-button class="fileexplorer-actions" aria-label="Delete" ng-click="fe.deleteButton()">
        	<md-icon md-svg-src="/public/drawable/delete-icon.svg" class="s24" aria-label="Delete" ></md-icon>
            <md-tooltip md-direction="top">
              {{'Delete' | translate}}
            </md-tooltip>
        </md-button>
		<span flex></span>
		<md-button class="md-raised" aria-label="Exit" ng-click="fe.exit()">{{'Exit' | translate}}</md-button>
	</md-dialog-actions>
</md-dialog>