<md-dialog aria-label="{{label[device.category].firmware}} {{ 'FIRMWARE_EXAMPLE' | translate }}" style="width: 550px; max-height:400px;">
	<md-toolbar class="firmware-select">
		<div class="md-toolbar-tools">
			<h2>{{label[category].firmware}} {{ 'FIRMWARE_EXAMPLE' | translate }}</h2>
		</div>
        <md-input-container ng-hide="device && device.category !== 'board'" style="position:absolute; right:15px; top:15px;" class="serial-select">
                <label>{{ 'FIRMWARE_EXAMPLE_SelectFirmware' | translate }}</label>
                <md-select ng-model="firmware">
                    <md-option ng-value="firmwarename" ng-repeat="(firmwarename, firmware) in EXAMPLE">{{firmwarename}}</md-option>
                </md-select>
            </md-input-container>
	</md-toolbar>
    
    <md-dialog-content ng-escape="f.exit()">
            <md-list>
            <span ng-repeat="(examplefoldername, examplefolder) in EXAMPLE[firmware]">
                <md-subheader class="firmware-title">{{examplefoldername}}</md-subheader>
                <md-list-item ng-repeat="(examplename, example) in examplefolder" layout-padding class="task separator-line">
                

                        <span style="width:70%;">
                            <h3 style="font-weight:600;">{{examplename}}</h3>
                        </span>
                    <md-button class="md-secondary lib-app-btn right" ng-click="f.use (examplename, example)">{{ 'Use' | translate }}</md-button>
            	</md-list-item>
            </span>
            </md-list>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="f.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>