<md-dialog aria-label="Flash {{label[device].firmware}}">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Flash {{label[device.category].firmware}}</h2>
		</div>
	</md-toolbar>
    
	<md-dialog-content>
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container>
                <label>{{label[device.category].firmware}}</label>
                <md-select ng-model="firmware">
                  <md-option ng-repeat="(firmware, firmwareText) in firmwares[device.category]" value="{{firmware}}">
                    {{firmwareText}}
                  </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="add-app-title">
                <label>{{ 'DEVICE_PORT' | translate }}</label>
                <input ng-model="port" ng-trim="true">
            </md-input-container>
        </md-content>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="f.runAndFlash()">{{ 'FLASH_FIRMWARE_RunAndFlash' | translate }}</md-button>
		<md-button ng-click="f.run()">{{ 'FLASH_FIRMWARE_RunWithoutFlash' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>