<md-dialog aria-label="Flash {{label[device].firmware}}" style="min-width: 400px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{'FLASH_FIRMWARE' | translate}}</h2>
		</div>
	</md-toolbar>
    
	<md-dialog-content ng-escape="a.cancel()" ng-repeat="port in ports" layout-gt-sm="column">
        <md-content layout-gt-sm="column" layout-padding>
            <div layout-gt-sm="row" flex class="flash-firmware">

                <label><img ng-src="/public/drawable/{{port.vid.type}}-small.png" class="s24">{{port.pid.name}}</label><!--type of firmware-->


                <label class="firm-port"><strong>{{'Port' | translate}}:</strong> {{path.basename(port.p)}}</label><!--port-->
            </div>
        </md-content>
        <md-content layout-gt-sm="column" layout-padding>
            <md-input-container md-no-float class="md-block">
                <label>{{'Pick_firmware' | translate}}</label>
                <md-select ng-model="port.pick">
                    <md-option value="{{EMPTY}}" ng-selected="true">
                        {{'No_firmware' | translate}}
                    </md-option>

                    <md-option ng-repeat="firm in tree.children | filter:check(port.vid.type)" value="{{firm.name}}">
                        {{firm.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">

        <md-button ng-click="f.run()">{{'Run' | translate}}</md-button>
	</md-dialog-actions>
</md-dialog>