<md-dialog aria-label="{{label[device.category].software}} {{ 'GITHUB_EXAMPLE_Example' | translate }}" style="width: 550px; max-height:400px;">
	<md-toolbar class="firmware-select">
		<div class="md-toolbar-tools">
			<h2>{{label[category].software}} {{ 'GITHUB_EXAMPLE_Example' | translate }}</h2>
		</div>
	</md-toolbar>
    
    <md-dialog-content ng-escape="e.exit()">
            <md-input-container class="md-block gitinput">
                <label>Github username/repository</label>
                <input ng-model="repo" ng-change="e.load ();"></input>
            </md-input-container>
            <md-list ng-show="importing === false && lst.length > 0" class="gitimport">
                <md-list-item class="task separator-line" ng-repeat="item in lst">
                
                    <img ng-src="/public/drawable/{{item.language}}project.png" class="s24"></img>
                    <span style="width:70%;">
                        <h3>{{item.name}} <span>{{e.language (item.language)}}</span></h3>
                        <div style="padding:3px 0;"><i>Author: {{item.author}}</i></div>
                        <div style="padding:3px 0;">{{item.description}}</div>
                    <md-button ng-show="!importing" class="md-secondary lib-app-btn right" ng-click="e.use (item)">{{ 'TOOLBAR_IMPORT' | translate }}</md-button>
            	</md-list-item>
            <!-- <md-list-item ng-repeat="(examplename, example) in EXAMPLE['board']" layout-padding class="task separator-line">
            
                <md-icon ng-show="task.TT!=='?'" md-svg-src="/public/drawable/process-icon.svg" class="s24" aria-label="Process" ></md-icon>
                <md-icon ng-show="task.TT==='?'" md-svg-src="/public/drawable/task-icon.svg" class="s24" aria-label="Service" ></md-icon>
                    <span style="width:70%;">
                        <h3 style="font-weight:600;">{{examplename}}</h3>
                        <p>{{e.language (example.language)}}</p>
                    </span>
                <md-button class="md-secondary lib-app-btn right" ng-click="e.use (examplename, example)">{{ 'TOOLBAR_IMPORT' | translate }}</md-button>
            </md-list-item> -->
            </md-list>
            <div ng-show="importing" style="text-align: center; padding: 20px;"><img src="/public/drawable/loading.gif" /></div>
            <div ng-show="lst.length === 0">
                {{GUTHUB_EXAMPLE_Empty | translate}}
            </div>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="e.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>