<md-dialog aria-label="{{ 'LIBRARY_Library' | translate }}" class="library-box">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'TOOLBAR_PROJECTS' | translate }}</h2>
		</div>
		<!--<md-input-container style="position:absolute; right:15px; top:15px;" class="serial-select">
                <md-select ng-model="device" aria-label="device">
                    <md-option ng-value="importexport">Import all projects</md-option>
                    <md-option ng-value="importexport">Export all projects</md-option>
                    <md-option ng-value="importexport">Import / Export all projects</md-option>
                </md-select>
        </md-input-container>-->
	</md-toolbar>
	<md-dialog-content layout="row" ng-escape="l.cancel()">
			<md-content flex="100" class="projects-container" style="{{programs.length > 0?'background:none;':''}}">
				<md-grid-list md-cols="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-row-height="8:3" md-gutter="8px" md-gutter-gt-sm="4px">
			      <md-grid-tile class="lib-app" ng-repeat="program in programs | orderBy:'-date'" ng-click="l.load(program)">
			        <img ng-src="/public/drawable/{{program.language}}project.png" alt="{{program.language}}" />
			        <div flex="100">
			          <h3>{{ program.title | limitTo:35 }} <span>{{ program.language }}</span></h3>
			          
			          <p>{{ program.date | date:'MMMM d, yyyy @ HH:MM' }}</p>
                      <md-button class="md-secondary lib-app-btn" ng-click="l.export (program); $event.stopPropagation();">{{ 'TOOLBAR_EXPORT' | translate }}</md-button>
                      
                      <md-menu>
                        <md-button class="md-secondary lib-app-btn" ng-click="l.openMenu ($mdOpenMenu, $event)">
                              {{ 'TOOLBAR_OPTIONS' | translate }}
                        </md-button>
                          <md-menu-content width="3">
                      	    <md-menu-item>
                        	    <md-button ng-click="l.rename(program); $event.stopPropagation();">{{ 'TOOLBAR_RENAME' | translate }}</md-button>
                          	</md-menu-item>
                          	<md-menu-item>
                            	<md-button ng-click="l.erase (program); $event.stopPropagation();">{{ 'TOOLBAR_DELETE' | translate }}</md-button>
                          	</md-menu-item>
                          	<md-menu-item>
                            	<md-button ng-click="l.clone (program); $event.stopPropagation();">{{ 'TOOLBAR_CLONE' | translate }}</md-button>
                          	</md-menu-item>
                        </md-menu-content>
                      </md-menu>
			        </div>
			        
			      </md-grid-tile>
			    </md-grid-list>
			</md-content>
	</md-dialog-content>
    <md-dialog-actions layout="row">
    	<md-button ng-click="l.example()">{{ 'LIBRARY_LoadAnExample' | translate }}</md-button>
        <span flex></span>
		<md-button ng-click="l.add()" class="newapp">{{ 'WELCOME_CreateNewApp' | translate }}</md-button>
		<md-button ng-click="l.import()">{{ 'TOOLBAR_IMPORT' | translate }}</md-button>
		<md-button ng-click="l.cancel()" md-autofocus>{{ 'TOOLBAR_CANCEL' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>
