<md-dialog aria-label="{{ 'Name' | translate }}" class="devicedtl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'Name' | translate }}</h2>
		</div>
	</md-toolbar>
    
	<md-dialog-content ng-escape="a.cancel()">
        <md-content layout-gt-sm="column" layout-padding>
            <md-input-container class="rename-title">
                <label>{{ 'Name' | translate }}</label>
                <input ng-model="name" minlength="3" ng-trim="true" ng-enter="a.rename()" md-autofocus="true">
           </md-input-container>
           <label><strong>Wyliodrin-app-server version:</strong> {{version}}</label>
           <label><strong>Libwyliodrin version:</strong> {{libversion}}</label>
           <label><strong>Operating System:</strong> {{os}}</label>
           <label class="langtype"><strong>Supported languages:</strong> <span>{{supported}}</span></label>
        </md-content>
    </md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="a.rename()">{{ 'TOOLBAR_RENAME' | translate }}</md-button>
		<md-button ng-click="a.cancel()">{{ 'TOOLBAR_CANCEL' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>
