<md-dialog aria-label="{{ 'NETWORK_PackageManager' | translate }}" style="width: 550px; max-height:400px;" ng-escape="net.exit()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'NETWORK_NetworkManager' | translate }}</h2>
		</div>
	</md-toolbar>
    
    <md-dialog-content>
        <md-tabs ng-show="interfaces.length > 0" class="packages-tabs-box">
            <md-tab ng-repeat="interface in interfaces track by $index">
                <md-tab-label>
                	<md-icon ng-show="interface.t === 'e'" md-svg-src="/public/drawable/ethernet-icon.svg" class="s24" aria-label="Ethernet" ></md-icon>
                    <md-icon ng-show="interface.t === 'w'" md-svg-src="/public/drawable/wifi-icon.svg" class="s24" aria-label="Wireless" ></md-icon>
                    &nbsp; {{interface.i}}
                </md-tab-label>
                
                <md-tab-body>
                    <md-list ng-show="interface.t !== 'w' || interface.s.length > 0">
                        <md-list-item>
                            <span style="width:100%;">
                            	<div ng-show="interface.t ===  'w'" layout-padding><strong>{{ 'NETWORK_SSID' | translate }}:</strong> {{interface.s}}</div>
                                <div ng-show="interface.ip.length > 0" layout-padding><strong>{{ 'NETWORK_IP' | translate }}:</strong> {{interface.ip}}</div>
                                <div ng-show="interface.ip.length > 0" layout-padding><strong>{{ 'NETWORK_Mask' | translate }}:</strong> {{interface.m}}</div>
                                <div ng-show="interface.ip.length > 0" layout-padding><strong>{{ 'NETWORK_Broadcast' | translate }}:</strong> {{interface.b}}</div>
                                <div ng-show="interface.t ===  'w' && interface.ip.length > 0" layout-padding>
                                	<div style="padding:0 8px;">
                                        <strong>{{ 'NETWORK_SignalStrength' | translate }}</strong> 
                                        <img ng-show="interface.q >= 75" src="/public/drawable/wifi-strength-100.png" class="s24">
                                        <img ng-show="interface.q >= 50 && interface.q < 75" src="/public/drawable/wifi-strength-75.png">
                                        <img ng-show="interface.q >= 25 && interface.q < 50" src="/public/drawable/wifi-strength-50.png">
                                        <img ng-show="inetrface.q >= 0 && interface.q < 25" src="/public/drawable/wifi-strength-25.png">
                                        <img ng-show="inetrface.q == 0" src="/public/drawable/wifi-strength-0.png">
                                    </div>
                                </div>
                                <md-button ng-show="interface.t ===  'w'" layout-padding class="lib-app-btn net-dis-btn" ng-click="net.disconnect (interface)">{{ 'NETWORK_Disc_ChangeNet' | translate }}</md-button>
                            </span>
                        </md-list-item>
                    </md-list>
                    <md-list ng-hide="interface.t !== 'w' || interface.s.length > 0" class="ssid-list">
                        <md-list-item ng-repeat="network in wifinetworks[interface.i]" class="separator-line" ng-click="net.askPassword(interface.i, network); $event.stopPropagation();">
                            <span style="width:100%; padding:10px 0;">
                                <img ng-show="network.q >= 75" src="/public/drawable/wifi-strength-100.png" class="s24">
                                <img ng-show="network.q >= 50 && network.q < 75" src="/public/drawable/wifi-strength-75.png">
                                <img ng-show="network.q >= 25 && network.q < 50" src="/public/drawable/wifi-strength-50.png">
                                <img ng-show="network.q >= 0 && network.q < 25" src="/public/drawable/wifi-strength-25.png">
                                <img ng-show="network.q == 0" src="/public/drawable/wifi-strength-0.png">
                                <strong>{{network.s !== null ? network.s : 'Other Network'}}</strong>
                                <div>
                                    <md-input-container ng-show="network.s === null && interface.i+'_'+network.s === wifi.network">
                                        <label>{{ 'NETWORK_SSID' | translate }}</label>
                                        <input ng-model="wifi.ssid" type="text">
                                    </md-input-container>
                                    <md-input-container ng-show="interface.i+'_'+network.s === wifi.network">
                                        <label>{{ 'USER_Password' | translate }}</label>
                                        <input ng-model="wifi.password" type="password">
                                    </md-input-container>
                                    <md-button ng-show="interface.i+'_'+network.s === wifi.network" class="md-secondary lib-app-btn right" ng-click="net.connect (interface.i, network.s, wifi.password); $event.stopPropagation();">{{ 'DEVICE_CONNECT' | translate }}</md-button>
                                </div>
                            </span>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="net.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>