<md-dialog aria-label="{{ 'NETWORK_PackageManager' | translate }}" style="width: 550px; max-height:400px;" ng-escape="pm.exit()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'NETWORK_PackageManager' | translate }}</h2>
		</div>
	</md-toolbar>
    
    <md-dialog-content>
        <div ng-show="runmanager">
        	<md-progress-linear md-mode="indeterminate" class="loading-bar"></md-progress-linear>
            <md-content class="pre-box">
            	<pre>{{runoutput}}</pre>
            </md-content>
        </div>
        <md-tabs ng-show="runmanager === false" class="packages-tabs-box">
            <md-tab ng-if="language.packagemanager.enable === true && packages[language.title]" ng-repeat="language in LANGUAGES">
                <md-tab-label>{{language.text}}</md-tab-label>
                <md-tab-body>
                    <md-list>
                        <md-list-item ng-repeat="package in packages[language.title] | orderBy: 'n'" layout-padding class="task separator-line">

                            <span style="width:20%;">
                                <h3>{{package.n}}</h3>
                                <div>{{package.v}}</div>
                            </span>
                            <span style="width:50%;">{{package.d}}</span>
                            <md-button ng-hide="package.loading || package.v" class="md-secondary lib-app-btn right" ng-click="pm.install(package, language.title)">{{ 'TOOLBAR_INSTALL' | translate }}</md-button>
                            <md-button ng-show="package.loading===false && package.readonly === false && package.v" class="md-secondary lib-app-btn right" ng-click="pm.uninstall(package, language.title)">{{ 'TOOLBAR_UNINSTALL' | translate }}</md-button>
                            <a ng-if="package.w" target="_blank" href="{{package.w}}" class="package-link">
                            	<img src="/public/drawable/link-icon.png">
                                <md-tooltip md-direction="bottom">
                                  {{ 'PACKAGE_MANAGER_LinkToTheLibrary' | translate }}
                                </md-tooltip>
                            </a>
                            <div ng-show="package.loading"><img src="/public/drawable/loading.gif" /></div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="pm.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>