<md-dialog aria-label="{{ 'README_EDIT' | translate }}" class="library-box">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'README_EDIT' | translate }}</h2>
		</div>
	</md-toolbar>
    
	<md-dialog-content>
        <md-content layout-gt-sm="row" layout-padding class="projects-container" style="padding:0;">
            <div flex="100" ui-ace="{
              advanced: {
                  enableSnippets: true,
                  enableBasicAutocompletion: true,
                  enableLiveAutocompletion: true
              },
              useWrapMode : true,
              showGutter: true,
              mode:'markdown',
              theme:'chrome',
              rendererOptions: { 
                fontSize: 14 
              },
              firstLineNumber: 1,
              onChange: modify,
              onLoad: load
            }" ng-model="readme"></div>
        </md-content>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="m.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>