<md-dialog aria-label="{{ 'TOOLBAR_RESISTOR_COLOR_CODE' | translate }}" style="min-width: 480px; max-height:570px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'TOOLBAR_RESISTOR_COLOR_CODE' | translate }}</h2>
		</div>
	</md-toolbar>

    <md-tabs md-dynamic-height md-dynamic-width>
        <md-tab>
            <md-tab-label>
                {{ 'RESISTOR_COLORCODE_FromColorToNumber' | translate }}
            </md-tab-label>
            <md-tab-body>

                <md-dialog-content style="text-align:center;">
                    <div layout="row" layout-padding>
                        <md-input-container>
                            <label>{{ 'RESISTOR_COLORCODE_Stripes' | translate }}</label>
                            <md-select ng-model="value.number">
                                <md-option value="4">{{ 'VALUE_Four' | translate }}</md-option>
                                <md-option value="5">{{ 'VALUE_Five' | translate }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container style="background: {{value.color1}};">
                            <label>{{ 'RESISTOR_COLORCODE_Stripe' | translate }} 1</label>
                            <md-select ng-model="value.color1">
                                <md-option value="{{colorvalue}}" ng-repeat="(colorvalue, colorname) in colors">{{colorname}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>{{ 'RESISTOR_COLORCODE_Stripe' | translate }} 2</label>
                            <md-select ng-model="value.color2" style="background: value.color2;">
                                <md-option value="{{colorvalue}}" ng-repeat="(colorvalue, colorname) in colors">{{colorname}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-show="value.number == 5">
                            <label>{{ 'RESISTOR_COLORCODE_Stripe' | translate }} 3</label>
                            <md-select ng-model="value.color3">
                                <md-option value="{{colorvalue}}" ng-repeat="(colorvalue, colorname) in colors">{{colorname}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>{{ 'RESISTOR_COLORCODE_Stripe' | translate }} {{4-(5-value.number)}}</label>
                            <md-select ng-model="value.color4">
                                <md-option value="{{color.value}}" ng-repeat="color in multiplier">{{color.color}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>{{ 'RESISTOR_COLORCODE_Stripe' | translate }} {{5-(5-value.number)}}</label>
                            <md-select ng-model="value.color5">
                                <md-option value="{{color.value}}" ng-repeat="color in tolerance">{{color.color}}</md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                    <img src="/public/drawable/resistorcolorcode.png">
                </md-dialog-content>
            
            
                <md-dialog-actions layout="row" style="position:relative;">
                    <div style="position:absolute; left:10px; top:12px; font-size:18px;">
                        <span><b>{{ 'VALUE_Value' | translate }}:</b> {{r | number}} {{u}}&Omega;</span>
                        <span style="padding-left:10px;">&plusmn;{{value.color5}}%</span>
                    </div>
                </md-dialog-actions>
                <!--end code first page-->



            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label>
                {{ 'RESISTOR_COLORCODE_FromNumberToColor' | translate }}
            </md-tab-label>
            <md-tab-body>
               <!--start code second page-->
            
                <md-dialog-content style="text-align:center;">
                    <div layout="row" layout-padding>
                        <md-input-container>
                            <label>{{ 'RESISTOR_COLORCODE_Resistance' | translate }}</label>
                        <input placeholder="Enter a number" ng-model="second.value.number">
                        </md-input-container>
                        <md-input-container>
                            <label> </label>
                            <b>&Omega;</b>
                        </md-input-container>
                        <md-input-container>
                            <label>{{ 'RESISTOR_COLORCODE_Stripes' | translate }}</label>
                            <md-select ng-model="second.value.stripes">
                                <md-option value="4">{{ 'VALUE_Four' | translate }}</md-option>
                                <md-option value="5">{{ 'VALUE_Five' | translate }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>{{ 'VALUE_Tolerance' | translate }}</label>
                            <md-select ng-model="second.value.tolerance">
                                <md-option value="{{value.color}}" ng-repeat="value in second.tolerance">{{value.value}}</md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                    <md-dialog-content style="text-align:center; padding-left:40px;">
                        <img ng-src="/public/drawable/resistors/left.png"
                        ><img ng-src="/public/drawable/resistors/{{second.stripe1}}.png"
                        ><img ng-src="/public/drawable/resistors/{{second.stripe2}}.png"
                        ><img ng-src="/public/drawable/resistors/{{second.stripe3}}.png"
                        ><img ng-show="second.value.stripes === '5'" ng-src="/public/drawable/resistors/{{second.stripe4}}.png"
                        ><img ng-src="/public/drawable/resistors/none.png"
                        ><img ng-src="/public/drawable/resistors/{{second.value.tolerance}}.png"
                        ><img ng-src="/public/drawable/resistors/right.png">
                        <!--For avoiding whitespace problems-->
                    </md-dialog-content>
                </md-dialog-content>
                    
                    
                <md-dialog-actions layout="row" style="position:relative;">
                    <div style="position:absolute; left:10px; top:12px; font-size:18px;">
                        <span><b>{{ 'VALUE_Value' | translate }}: </b> {{second.r | number}} {{second.u}}&Omega;</span>
                    </div>
                </md-dialog-actions>


               <!--end code second page-->
            </md-tab-body>
        </md-tab>
</md-tabs>
    
    
</md-dialog>