<md-dialog aria-label="{{label[device.category].software}} {{ 'SOFTWARE_EXAMPLE_Example' | translate }}" style="width: 550px; max-height:400px;">
	<md-toolbar class="firmware-select">
		<div class="md-toolbar-tools">
			<h2>{{label[category].software}} {{ 'SOFTWARE_EXAMPLE_Example' | translate }}</h2>
		</div>
        <md-input-container style="position:absolute; right:15px; top:15px;" class="serial-select">
                <label>{{ 'SOFTWARE_EXAMPLE_SelectSoftware' | translate }}</label>
                <md-select ng-model="software">
                    <md-option ng-value="softwarename" ng-repeat="(softwarename, software) in EXAMPLE">{{label[softwarename].text}}</md-option>
                </md-select>
            </md-input-container>
	</md-toolbar>
    
    <md-dialog-content>
            <md-list>
            <md-list-item ng-show="software && software !== 'board'" ng-repeat="(examplename, example) in EXAMPLE[software]" layout-padding class="task separator-line">
            
                <!-- <md-icon ng-show="task.TT!=='?'" md-svg-src="/public/drawable/process-icon.svg" class="s24" aria-label="Process" ></md-icon>
                <md-icon ng-show="task.TT==='?'" md-svg-src="/public/drawable/task-icon.svg" class="s24" aria-label="Service" ></md-icon> -->
                    <span style="width:70%;">
                        <h3 style="font-weight:600;">{{examplename}}</h3>
                        <p>{{s.language (example.language)}}</p>
                    </span>
                <md-button class="md-secondary lib-app-btn right" ng-click="s.use (examplename, example)">{{ 'TOOLBAR_IMPORT' | translate }}</md-button>
        	</md-list-item>
            <md-list-item ng-repeat="(examplename, example) in EXAMPLE['board']" layout-padding class="task separator-line">
            
                <!-- <md-icon ng-show="task.TT!=='?'" md-svg-src="/public/drawable/process-icon.svg" class="s24" aria-label="Process" ></md-icon>
                <md-icon ng-show="task.TT==='?'" md-svg-src="/public/drawable/task-icon.svg" class="s24" aria-label="Service" ></md-icon> -->
                    <span style="width:70%;">
                        <h3 style="font-weight:600;">{{examplename}}</h3>
                        <p>{{s.language (example.language)}}</p>
                    </span>
                <md-button class="md-secondary lib-app-btn right" ng-click="s.use (examplename, example)">{{ 'TOOLBAR_IMPORT' | translate }}</md-button>
            </md-list-item>
            </md-list>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="s.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>