<md-dialog aria-label="{{ 'TASK_MANAGER_TaskManager' | translate }}" style="width: 550px; max-height:400px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'TASK_MANAGER_TaskManager' | translate }}</h2>
		</div>
	</md-toolbar>
    
	<md-dialog-content class="task-box">
        <md-list>
            <md-list-item ng-repeat="task in tasks | orderBy: '-TT'" layout-padding class="separator-line task">
                <md-icon ng-show="task.TT!=='?'" md-svg-src="/public/drawable/process-icon.svg" class="s24" aria-label="Process" ></md-icon>
                <md-icon ng-show="task.TT==='?'" md-svg-src="/public/drawable/task-icon.svg" class="s24" aria-label="Service" ></md-icon>
                <h3>{{task.COMMAND}}</h3>
                <span>{{task['%CPU']}}, PID: {{task.PID}}, {{task.VSZ}} KB, TTY:{{task.TT}}</span>
                <md-button ng-hide="task.stopping" class="md-secondary lib-app-btn right" ng-click="tm.stop(task)">{{ 'TOOLBAR_STOP' | translate }}</md-button>
                <div ng-show="task.stopping"><img src="/public/drawable/loading.gif" /></div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
		<md-button ng-click="tm.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>