<md-dialog aria-label="Wyliodrin App" class="about-box" style="width: 550px; height:500px;">
	<md-dialog-content class="pre-box" ng-escape="p.exit()">
        <div class="about-logo">
        	<img src="/public/drawable/wyliodrin-studio-about-logo.png" />
            <span>{{ 'ABOUT_Version' | translate }} {{VERSION}}</span>
        </div>
        <div class="welcome">
        	<h3>{{ 'WELCOME_Welcome' | translate }}</h3>
            <p>{{ 'WELCOME_StartWork' | translate }}</p>
            
            <p>
                <md-button ng-click="p.library()" class="welcome-btn">{{ 'WELCOME_CreateNewApp' | translate }}</md-button>
                <md-button ng-click="p.board()" class="welcome-btn">{{ 'WELCOME_ConnectBoard' | translate }}</md-button>
            </p>
            
        </div>
        
        <md-checkbox ng-model="mixpanel" aria-label="{{ 'WELCOME_SendUsageParam' | translate }}" class="mixpanel">
		  {{ 'WELCOME_SendAnonUsageParam' | translate }}
		</md-checkbox>
        
    </md-dialog-content>
    
    
	<md-dialog-actions layout="row">
        <div class="provided">
            {{ 'ABOUT_ProvidedBy' | translate }} <a href="http://www.wyliodrin.com" target="_blank">Wyliodrin SRL</a>
        </div>
		<md-button ng-click="p.exit()">{{ 'TOOLBAR_EXIT' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>