<md-content layout="column" ng-controller="AppController as a" ng-escape="t.exit()">
	<md-toolbar class="main-toolbar">
		<div class="title-area md-toolbar-tools head-box" ng-controller="ToolbarController as t">
        	<div class="overlogo"></div>
			<h1><img src="/public/drawable/wyliodrin-small-logo.png" alt="Wyliodrin" title="Wyliodrin"></h1>
			<span flex></span>
           <!--  <md-button class="icon-btn-lg" ng-click="t.documentation()">
                <md-icon md-svg-src="/public/drawable/help-icon.svg" class="s24" aria-label="Help" ></md-icon>
                <md-tooltip md-direction="bottom">
                  Help
                </md-tooltip>
            </md-button> -->


            
            <div class="title-button md-menu-demo" ng-cloak>
			  <div class="menu-demo-container" layout-align="center center" layout="column">
			    <md-menu ng-controller="TranslateController as tn">
			      <md-button class="icon-btn-lg" ng-click="t.openMenu ($mdOpenMenu, $event)">
                    <img ng-src="/public/drawable/flags/{{language.code}}.png" class="s24" aria-label="{{language.title}}" ></img>
                    <md-tooltip md-direction="bottom">
                      {{language.title}}
                    </md-tooltip>
                </md-button>
			      <md-menu-content width="3">
			        <md-menu-item ng-repeat="(languagecode, languagetitle) in available">
			          <md-button ng-click="tn.changeLanguage (languagecode)">
			            {{languagetitle}}
			          </md-button>
			        </md-menu-item>
			      </md-menu-content>
			    </md-menu>
			  </div>
			</div>
            
            
            <div class="title-button md-menu-demo" ng-cloak>
			  <div class="menu-demo-container" layout-align="center center" layout="column">
			    <md-menu>
			      <md-button class="icon-btn-lg" ng-click="t.openMenu ($mdOpenMenu, $event)">
                    <md-icon md-svg-src="/public/drawable/help-icon.svg" class="s24" aria-label="{{ 'TOOLBAR_HELP' | translate }}" ></md-icon>
                    <md-tooltip md-direction="bottom">
                      {{ 'TOOLBAR_HELP' | translate }}
                    </md-tooltip>
                </md-button>
			      <md-menu-content width="3">
			        <md-menu-item>
			          <md-button ng-click="t.board()">
			            {{ 'TOOLBAR_SETUP' | translate }}
			          </md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button ng-click="t.documentation()">
			            Wyliodrin API
			          </md-button>
			        </md-menu-item>
              <!-- <md-menu-item>
                <md-button ng-click="t.example()">
                  Examples
                </md-button>
              </md-menu-item> -->
              <md-menu-item>
                <md-button ng-click="t.forum()">
                  {{ 'TOOLBAR_FORUM' | translate }}
                </md-button>
              </md-menu-item>
                    <md-menu-item>
                    <md-button ng-click="t.resistorcolorcode()">
                      {{ 'TOOLBAR_RESISTOR_COLOR_CODE' | translate }}
                    </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="t.about()">
                        {{ 'TOOLBAR_ABOUT' | translate }}
                      </md-button>
                    </md-menu-item>
                    <!-- <md-menu-item>
                      <md-button ng-click="t.licence()">
                        Usage licence
                      </md-button>
                    </md-menu-item> -->
                    <!-- <md-menu-item>
                      <md-button ng-click="t.welcome()">
                        Welcome
                      </md-button>
                    </md-menu-item> -->
			      </md-menu-content>
			    </md-menu>
			  </div>
			</div>

            <md-button ng-click="t.library()" class="title-button icon-btn-lg">
                <md-icon md-svg-src="/public/drawable/projects-icon.svg" class="s24" aria-label="{{ 'TOOLBAR_PROJECTS' | translate }}" ></md-icon>
                <md-tooltip md-direction="bottom">
                  {{ 'TOOLBAR_PROJECTS' | translate }}
               </md-tooltip>
            </md-button>
			<div ng-controller="SerialPortsController as sp" class="title-button toggle-connection">
              <div ng-if="!connected" class="serial-select-title">{{ 'DEVICE_PORT' | translate }}:</div>
                <md-input-container ng-hide="connected" class="serial-select">
                    <md-select ng-model="serialPort" aria-label="serial port">
                        <md-optgroup class="title-button" label="{{ 'DEVICE_Chrome' | translate }}">
                          <md-option class="title-button" ng-value="{path:'chrome'}">{{ 'chrome' | translate }}</md-option>
                        </md-optgroup>
                        <md-optgroup ng-if="devicesinstall.length > 0" class="title-button" label="{{ 'DEVICE_Install' | translate }}">
                          <md-option class="title-button" ng-value="device" ng-repeat="device in devicesinstall">{{device.name}}</md-option>
                        </md-optgroup>
                        <md-optgroup class="title-button" label="{{ 'DEVICE_Network' | translate }}">
                          <md-option class="title-button" ng-value="device" ng-repeat="device in devices">{{device.name}}</md-option>
                        </md-optgroup>
                        <md-optgroup class="title-button" label="{{ 'DEVICE_Serial' | translate }}">
                          <md-option class="title-button" ng-value="serialport" ng-repeat="serialport in serialPorts">{{serialport.path}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
              <div ng-if="connected" layout="row">
                   	<img ng-if="device.category === 'board'" ng-src="/public/drawable/board_{{device.platform}}.png" ng-class="{'separator':status === 'SEPARATOR' || status === 'PING'}" class="device-img">
                    <img ng-if="device.category !== 'board'" ng-src="/public/drawable/{{device.category}}.png" ng-class="{'separator':status === 'SEPARATOR' || status === 'PING'}" class="device-img">
                    <div ng-show="status === 'PING'" class="warning">
                    	<img src="/public/drawable/warning-icon.png" alt="Warning"></img>
                        <md-tooltip md-direction="bottom">
                          {{ label[device.category].text }} {{ 'WYLIODRIN_USERINTERFACE_Error' | translate }}
                        </md-tooltip>
                    </div>
                   	<div layout="column" class="device-box">
			          <div class="device-title">{{ label[device.category].text }}</div>
			          <div class="device-port">{{serialPort.path | translate}} {{serialPort.ip}}</div>
			        </div>
                    <md-button ng-hide="running || status !== 'CONNECTED'" ng-click="t.send()" class="run-bt">
                    	<md-icon md-svg-src="/public/drawable/run-icon.svg" class="s24" aria-label="Run project" ></md-icon>
                        <md-tooltip md-direction="bottom">
                          {{ 'WYLIODRIN_USERINTERFACE_RunProject' | translate }}
                        </md-tooltip>
                    </md-button>
                    <md-button ng-show="running && status === 'CONNECTED'" ng-click="t.stop()" class="stop-bt">
                        <md-icon md-svg-src="/public/drawable/stop-icon.svg" class="s24" aria-label="Stop project" ></md-icon>
                        <md-tooltip md-direction="bottom">
                          {{ 'WYLIODRIN_USERINTERFACE_StopProject' | translate }}
                        </md-tooltip>
                    </md-button>
                    <md-button ng-show="update && status === 'CONNECTED'" class="icon-btn update-btn" ng-click="t.update()">
                      <md-icon md-svg-src="/public/drawable/update-icon.svg" class="s24" aria-label="Update" ></md-icon>
                        <md-tooltip md-direction="bottom">
                          {{ 'TOOLBAR_UPDATE' | translate }}
                        </md-tooltip>
                    </md-button>
                    <md-button ng-show="status === 'CONNECTED' && (!device.capabilities || device.capabilities.pm)" class="icon-btn" ng-click="t.packagemanager()">
                    	<md-icon md-svg-src="/public/drawable/library-icon.svg" class="s24" aria-label="{ackage Manager" ></md-icon>
                        <md-tooltip md-direction="bottom">
                          {{ 'NETWORK_PackageManager' | translate }}
                        </md-tooltip>
                    </md-button>
                    <md-button ng-show="status === 'CONNECTED' && (!device.capabilities || device.capabilities.net)" class="icon-btn" ng-click="t.taskmanager()">
                    	<md-icon md-svg-src="/public/drawable/task-manager-icon.svg" class="s24" aria-label="Task manager" ></md-icon>
                        <md-tooltip md-direction="bottom">
                          {{ 'TASK_MANAGER_TaskManager' | translate }}
                        </md-tooltip>
                    </md-button>
                    <md-button ng-show="status === 'CONNECTED' && (!device.capabilities || device.capabilities.tm)" class="icon-btn" ng-click="t.network()">
                    	<md-icon md-svg-src="/public/drawable/network-icon.svg" class="s24" aria-label="Network" ></md-icon>
                        <md-tooltip md-direction="bottom">
                          {{ 'TOOLBAR_NETWORK' | translate }}
                        </md-tooltip>
                        <div ng-hide="device.network" class="warning2">
                          <img src="/public/drawable/warning-icon.png" alt="Warning"></img>
                            <md-tooltip md-direction="bottom">
                              {{ label[device.category].text }} {{ 'WYLIODRIN_USERINTERFACE_NoInternet' | translate }}
                            </md-tooltip>
                        </div>
                    </md-button>
                   	<md-button ng-click="sp.exit()" class="icon-btn">
                    	<md-icon md-svg-src="/public/drawable/turn-off-icon.svg" class="s24" aria-label="Close" ></md-icon>
                        <md-tooltip md-direction="bottom">
                          {{ 'DEVICE_DISCONNECT' | translate }}
                        </md-tooltip>
                    </md-button>
               </div>
                <!-- <select ng-model="serialPort" ng-options="serialport.path for serialport in serialPorts track by serialport.path"></select> -->
				<md-button ng-show="!connected" ng-click="sp.open()" class="open-close">{{ 'DEVICE_CONNECT' | translate }}</md-button>
                
				<div class="{{a.status()}}" >{{status | translate}}</div>
                <div class="triangle"></div>
			</div>
            
            <div class="projname">{{ project_name | limitTo:45 }}</div>
            
            <div class="title-button window-control">
                <md-button class="window-button" ng-click="t.exit()">
                    <md-icon md-svg-src="/public/drawable/closeapp-icon.svg" class="s24" aria-label="{{ 'TOOLBAR_EXIT' | translate }}" ></md-icon>
                    <md-tooltip md-direction="left">
                      {{ 'TOOLBAR_EXIT' | translate }}
                    </md-tooltip>
                </md-button>
                <md-button ng-show="isFullscreen" class="window-button" ng-click="t.fullscreen()">
                    <md-icon md-svg-src="/public/drawable/restoredown-icon.svg" class="s24" aria-label="{{ 'TOOLBAR_RESTORE' | translate }}" ></md-icon>
                    <md-tooltip md-direction="left">
                      {{ 'TOOLBAR_RESTORE' | translate }}
                    </md-tooltip>
                </md-button>
                <md-button ng-hide="isFullscreen" class="window-button" ng-click="t.fullscreen()">
                    <md-icon md-svg-src="/public/drawable/maximize-icon.svg" class="s24" aria-label="{{ 'TOOLBAR_FULLSCREEN' | translate }}" ></md-icon>
                    <md-tooltip md-direction="left">
                      {{ 'TOOLBAR_FULLSCREEN' | translate }}
                    </md-tooltip>
                </md-button>
                <md-button class="window-button" ng-click="t.minimize()">
                    <md-icon md-svg-src="/public/drawable/minimize-icon.svg" class="s24" aria-label="{{ 'TOOLBAR_MINIMIZE' | translate }}" ></md-icon>
                    <md-tooltip md-direction="left">
                      {{ 'TOOLBAR_MINIMIZE' | translate }}
                    </md-tooltip>
                </md-button>
			</div>
            
		</div>
	</md-toolbar>
    <div class="tabs-box-container">
        <md-tabs ng-hide="project_disable && shell_disable" flex="100" class="tabs-box">
            <!-- <md-tab >
                <md-tab-label>Welcome</md-tab-label>
                <md-tab-body>
    
                </md-tab-body>
            </md-tab> -->
            <md-tab>
                <md-tab-label>{{ 'PROJECT_APPLICATION' | translate }}</md-tab-label>
                <md-tab-body>
                    <div layout="column" ng-controller="ProjectController as p" style="positon:relative;">
                        <div flex="{{showXterm?65:100}}" layout="row">
    
                            <md-tabs md-align-tabs="bottom" flex="100" class="tabs-box software_label">
                                <md-tab>
                                    <md-tab-label>{{label[device.category].software}}</md-tab-label>
                                    <md-tab-body>
                                        <div layout="column">
                                            <div ng-show="project.language!=='visual'" flex="100" ui-ace="{
                                              advanced: {
                                                  enableSnippets: true,
                                                  enableBasicAutocompletion: true,
                                                  enableLiveAutocompletion: true
                                              },
                                              useWrapMode : true,
                                              showGutter: true,
                                              mode:'python',
                                              theme:'chrome',
                                              rendererOptions: { 
                                                fontSize: 14 
                                              },
                                              firstLineNumber: 1,
                                              onLoad: aceSoftwareLoaded,
                                              onChange: aceSoftwareChanged
                                            }" ng-model="project.main"></div>
                                            <div ng-show="project.language==='visual'" flex="100" layout="row">
                                                <iframe flex="{{showhidecode?65:100}}" src="/public/blockly/blockly_frame.html">
                                                </iframe>
                                                <div flex="{{showhidecode?35:0}}" ng-show="showhidecode" ui-ace="{
                                                  useWrapMode : false,
                                                  showGutter: true,
                                                  rendererOptions: { 
                                                    fontSize: 14 
                                                  },
                                                  mode: 'python',
                                                  theme:'chrome',
                                                  firstLineNumber: 1,
                                                  onLoad: aceShowLoaded
                                                }" ng-model="project.main"></div>
                                            </div>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                                <md-tab ng-disabled="label[device.category].firmware === ''">
                                    <md-tab-label>{{label[device.category].firmware}}</md-tab-label>
                                    <md-tab-body>
                                        <div layout="column">
                                            <div flex="100" ui-ace="{
                                              advanced: {
                                                  enableSnippets: true,
                                                  enableBasicAutocompletion: true,
                                                  enableLiveAutocompletion: true
                                              },
                                              useWrapMode : false,
                                              showGutter: true,
                                              mode: 'c_cpp',
                                              theme:'chrome',
                                              rendererOptions: { 
                                                fontSize: 14 
                                              },
                                              firstLineNumber: 1,
                                              onLoad: aceFirmwareLoaded,
                                              onChange: aceFirmwareChanged,
                                            }" ng-model="project.firmware"></div>
                                            <a href="#" class="examplestatus show" id="examplestatus" ng-click="p.firmwareexample()"><br>{{ 'WYLIODRIN_USERINTERFACE_Examples' | translate }}</a>
                                        </div>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>
                        </div>
                        <div flex="{{showXterm?35:0}}" style="position:relative;">
                        	<a href="#" class="show-hide-console" ng-click="p.showHideXterm()">{{showXterm? ( 'PROJECT_HideConsole' | translate ):( 'PROJECT_ShowConsole' | translate ) }}</a>
                            <div style="width: 100%; height: 100%; position:absolute; background:#000;" id="xterm"></div>
                        </div>
                        <!-- <input type="button" value="Run" ng-click="p.send ()" flex /> -->
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="project_disable">
                <md-tab-label>{{ 'PROJECT_DASHBOARD' | translate }}</md-tab-label>
                <md-tab-body>
                    <div layout="column" ng-controller="DashboardController as d">
                        <div flex="100" class="dashboard-content">
                            <!-- <md-button ng-click="d.add()">Add</md-button> -->
                            <md-grid-list class="graph-signal" md-cols="4" md-row-height="200px">
                                <md-grid-tile md-colspan="{{d.colspan (signal)}}" md-rowspan="{{d.rowspan(signal)}}" ng-repeat="signal in project.dashboard track by $index" language="project.language">
                                  <dashboard-viewer signal="signal" erase="d.erase(signal)" left="d.left (signal)" right="d.right(signal)">
                                  </dashboard-viewer>
                                </md-grid-tile>
                            </md-grid-list>
                            
                            <div class="widgets-toolBox">
                                <ul class="widgets_grid">
                                    <li ng-repeat="style in styles" class="widget_item">
                                        <md-button class="widget_btn">
                                            <p class="widget_title">{{ 'SIGNAL_' + style | translate }}</p>
                                            <img ng-src="{{'/public/drawable/'+style+'.png'}}" ng-click="d.add(style)">
                                        </md-button>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="project_disable">
              <md-tab-label>{{ 'PROJECT_SCHEMATICS' | translate }}</md-tab-label>
              <md-tab-body>
                <div layout="column" ng-controller="SchematicsController as s" class="schematics-box">
                  <schematics ng-show="project.schematics.length > 0" value="project.schematics" ng-class="(wider?'widthlarger':'heightlarger')"></schematics>
                  <div ng-hide="project.schematics.length > 0" class="schematics-msg"></div>
                  <md-button ng-hide="project.schematics.length > 0" ng-click="s.load ()" class="svg-btn">{{ 'SCHEMATICS_LOAD' | translate }}</md-button>
                  <md-button ng-show="project.schematics.length > 0" ng-click="s.erase ()" class="svg-btn">{{ 'TOOLBAR_ERASE' | translate }}</md-button>
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="device.category === 'board'">
              <md-tab-label>{{ 'PROJECT_PINLAYOUT' | translate }}</md-tab-label>
              <md-tab-body>
                <div class="pin-box">
                  <img ng-if="device.category !== 'board'" ng-src="/public/drawable/pins-{{device.category}}.png">
                </div>
              </md-tab-body>
            </md-tab>
            <md-tab ng-disabled="shell_disable" ng-click>
                <md-tab-label>{{ 'PROJECT_SHELL' | translate }}</md-tab-label>
                <md-tab-body>
                    <div layout="column">
                        <div flex="100" layout="row">
                            <div style="width: 100%; height: 100%;" id="xterm" ng-controller="XTermController"></div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</md-content>