<html>
	<head>
		<title>{{ '__MSG_appName__' | translate }}</title>
		<meta charset="UTF-8">
	</head>
	<body ng-app="wyliodrinApp" ng-csp class="wyliodrin-loading">
		<div ng-include="'/public/views/wyliodrin-userinterface.html'">
		</div>

		
		
		

		<!-- <div ui-tree>
		  <ol ui-tree-nodes="" ng-model="list">
		    <li ng-repeat="item in list" ui-tree-node>
		      <div ui-tree-handle>
		        {{item.title}}
		      </div>
		      <ol ui-tree-nodes="" ng-model="item.items">
		        <li ng-repeat="subItem in item.items" ui-tree-node>
		          <div ui-tree-handle>
		            {{subItem.title}}
		          </div>
		        </li>
		      </ol>
		    </li>
		  </ol>
		</div> -->



		<link rel="stylesheet" type="text/css" href="/public/style/wyliodrin.css"></link>
		<!-- script -->
		<script src="../wyliodrin.js"></script>
	</body>
</html>