        <div class="steps">
            <span><img src="/public/drawable/step1.jpg" width="46" height="18"></span>
            <div><p>{{ 'SD-CARD4_GetAMinimum' | translate}}</p> <img src="/public/drawable/sd-card.jpg" width="47" height="61"></div>
        </div>

        <div class="steps">
            <span><img src="/public/drawable/step2.jpg" width="48" height="18"></span>
            <div>
                <p style="max-width:180px;">
                    <span translate="InsertTheCard" translate-value-device="Arduino Yun"></span><br /><br />
                     {{ 'MakeSureYou' | translate}}
                </p>
                <img src="/public/drawable/arduinoyun/step3-img.png"> 
                <div>
                {{ 'YouMightHave' | translate}}
                <ul style="float:left; width:100%;">
                    <li>Windows: <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                    <li>Linux: <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                    <li>Mac: <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                </ul>
            </div>
            </div>
        </div>
        
        <div class="steps">
            <span><img src="/public/drawable/step3.jpg" width="48" height="18"></span>
            <div>
            	{{ 'MakeSureThat' | translate}} <a target="_blank" href="http://labs.arduino.org/How+to+upgrade+an+Arduino+Yun+or+Yun+Mini+to+LininoIO">{{ 'tutorial' | translate}}</a>.
            </div>
        </div>

        <div class="steps">
            <span><img src="/public/drawable/step4.jpg" width="48" height="18"></span>
            <div>
                {{ 'InstallNodeJSOn' | translate}} <a target="_blank" href="http://labs.arduino.org/Node.Js+installation+script">{{ 'tutorial' | translate}}</a>.
            </div>
        </div>

        <div class="steps">
            <span><img src="/public/drawable/step5.jpg" width="48" height="18"></span>
            <div>
                {{ 'ConnectViaSsh' | translate }} <i>linino.local</i> {{ 'AndTheUser' | translate}} <i>root</i> {{ 'AndPassword' | translate}} <i>doghunter</i>.
                <br>
            	{{ 'RunTheWyliodrin' | translate}}
            </div>
        </div>

        <div class="steps">
            <span><img src="/public/drawable/step6.jpg" width="48" height="18"></span>
            <div>
                <!-- <p style="max-width:240px;"></p> -->
                <p style="max-width:240px;">
                    {{ 'ResetYour' | translate }}<br><br>
                    <b>{{ 'DEVICE_Network' | translate }}</b><br>
                    {{ 'PortSelectNetwork' | translate}}<br><br>
                    <b>{{ 'DEVICE_Serial' | translate }}</b><br>
                    {{ 'PortSelectSerial' | translate }}
                </p>
                <img src="/public/drawable/port-connect.jpg"> 
                <ul style="float:left; width:100%;">
                    <li>Windows: <i>COMnumber</i></li>
                    <li>Linux: <i>/dev/tty.USBnumber</i></li>
                    <li>Mac: <i>/dev/tty.usbmodemfdNumber</i></li>
                </ul>
            </div>
            <div>
                {{ 'YouMightSerial' | translate}}
                <ul style="float:left; width:100%;">
                    <li>Windows: <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                    <li>Linux: <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                    <li>Mac: <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                </ul>
            </div>
        </div>