        <div class="steps">
            <span><img src="/public/drawable/step1.jpg" width="48" height="18"></span>
            <div>
            	<p style="max-width:180px;">
                	{{ 'PortSelectSerialChrome' | translate }}
                </p>
                <img src="/public/drawable/chrome/step3-img.png"> 
            </div>
        </div>

        <div class="steps">
            <span><img src="/public/drawable/step2.jpg" width="48" height="18"></span>
            <div>
                <p style="max-width:240px;">
                    {{ 'PortSelectSerialFirmata' | translate }}
                </p>
                <img src="/public/drawable/port-connect.jpg"> 
                <ul style="float:left; width:100%;">
                    <li>Windows: <i>COMnumber</i></li>
                    <li>Linux: <i>/dev/tty.USBnumber</i></li>
                    <li>Mac: <i>/dev/tty.usbserialportName</i></li>
                </ul>
            </div>
        </div>