        <div class="steps">
            <span><img src="/public/drawable/step1.jpg" width="46" height="18"></span>
            <div>
            <p translate="IR829_wiki1" translate-value-link1="https://github.com/Wyliodrin/cisco829/wiki"></p>
            <p>{{ 'IR829_wiki2' | translate}}</p>
            </div>
        </div>


        <div class="steps">
            <span><img src="/public/drawable/step2.jpg" width="46" height="18"></span>
            <div>
            <p>{{ 'IR829_wget' | translate}}</p>
            <p>wget https://github.com/Wyliodrin/cisco829/zipball/master</p>
            </div>
        </div>

         <div class="steps">
            <span><img src="/public/drawable/step3.jpg" width="46" height="18"></span>
            <div>
            <p>{{ 'IR829_setup' | translate}}</p>
            <div>chmod +x setup.sh</div>
            <div>./setup.sh</div>
            </div>
        </div>






