        <div class="steps">
            <span><img src="/public/drawable/step1.jpg" width="46" height="18"></span>
            <div>
            <p>Follow the instructions <a target="_blank" href="https://github.com/Wyliodrin/cisco829/wiki">here</a> and reach a Linux environment within the router.</p>
            <p>The link contains all the necessary informations to get confortable with Cisco's IOS environment before you reach the Linux console.</p>
            </div>
        </div>


        <div class="steps">
            <span><img src="/public/drawable/step2.jpg" width="46" height="18"></span>
            <div>
            <p>In the Linux environment, use wget and download the bundle pack for Wyliodrin server as a zip with the following command:</p>
            <p>wget https://github.com/Wyliodrin/cisco829/zipball/master</p>
            </div>
        </div>

         <div class="steps">
            <span><img src="/public/drawable/step3.jpg" width="46" height="18"></span>
            <div>
            <p>Unzip, enter the folder and run the setup installer with the following commands:</p>
            <div>chmod +x setup.sh</div>
            <div>./setup.sh</div>
            </div>
        </div>






