        <div class="steps">
            <span><img src="/public/drawable/step1.jpg" width="46" height="18"></span>
            <div><p>{{ 'SD_CARD4_GetAMinimum' | translate}}</p> <img src="/public/drawable/sd-card.jpg" width="47" height="61"></div>
        </div>
        
        <div class="steps">
            <span><img src="/public/drawable/step2.jpg" width="48" height="18"></span>
            <div>
            	<img src="/public/drawable/copy-to-sd.jpg" width="460" height="85"> 
                <p translate="DownloadImage" translate-values="{ link1: 'https://wyliodrin.azureedge.net/raspberrypi/wyliodrin_raspberrypi.zip', link2: 'https://projects.wyliodrin.com/wiki/boards_setup/raspberrypi' }"></p>
            	<p translate="AdvancedUser" translate-value-link1="https://github.com/Wyliodrin/wyliodrin-app-server"></p>
            </div>
        </div>
        
        <div class="steps">
            <span><img src="/public/drawable/step3.jpg" width="48" height="18"></span>
            <div>
            	<p style="max-width:180px;">
                	<span translate="InsertTheCard" translate-value-device="Raspberry Pi"></span><br /><br />
                    <span translate="CablePurchase" translate-values="{link1:'https://www.sparkfun.com/products/12977',link2:'https://www.adafruit.com/product/954',name1:'Sparkfun',name2:'Adafruit'}"></span>
                </p>
                <img src="/public/drawable/raspberrypi/step3-img.png"> 
            </div>
        </div>

        <div class="steps">
            <span><img src="/public/drawable/step4.jpg" width="48" height="18"></span>
            <div>
                <p style="max-width:240px;">
                    <b>{{ 'DEVICE_Network' | translate }}</b><br>
                    {{ 'PortSelectNetwork' | translate}}<br><br>
                    <b>{{ 'DEVICE_Serial' | translate }}</b><br>
                    {{ 'PortSelectSerial' | translate }}
                </p>
                <img src="/public/drawable/port-connect.jpg"> 
                <ul style="float:left; width:100%;">
                    <li>Windows: <i>COMnumber</i></li>
                    <li>Linux: <i>/dev/tty.USBnumber</i></li>
                    <li>Mac: <i>/dev/tty.usbserial-portName</i></li>
                </ul>
            </div>
            <div>
                {{ 'YouMightHave' | translate}}
                <ul style="float:left; width:100%;">
                    <li>Windows: <a target="_blank" href="https://www.adafruit.com/images/product-files/954/PL2303_Prolific_DriverInstaller_v1_12_0.zip">Adafruit</a>, <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                    <li>Linux: <a href="#">Adafruit</a>, <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                    <li>Mac: <a target="_blank" href="https://www.adafruit.com/images/product-files/954/PL2303_MacOSX_1_6_0_20151022.zip">Adafruit</a>, <a target="_blank" href="http://www.ftdichip.com/Drivers/VCP.htm">FTDI</a></li>
                </ul>
            </div>
        </div>